form{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
form>input{
    margin-bottom: 20px;
}
.main{
    width: 87%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 20px;
    margin: auto;
}
.sorting{
    width: 87%;
    margin: auto;
    margin-bottom: 20px;
}
.sorting>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    background-color: rgba(128, 128, 128, 0.433);
}
.sorting>div>div{
    font-size: 20px;
}
.sorting button{
   background-color: white;
   border: transparent;
   cursor: pointer;
}